table.tablesorter {
    width: 90%;
}

table.tablesorter th:nth-child(6n+1) {
    width: 10%;
}

table.tablesorter th:nth-child(6n+2) {
    width: 15%;
}

table.tablesorter th:nth-child(6n+3) {
    width: 20%;
}

table.tablesorter th:nth-child(6n+4) {
    width: 15%;
}

table.tablesorter th:nth-child(6n+5) {
    width: 5%;
}

table.tablesorter th:nth-child(6n+6) {
    width: 35%;
}
